<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihm.ihm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".Accueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Conditions_generales"
            android:label="@string/title_activity_conditions_generales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mon_profil"
            android:label="@string/title_activity_mon_profil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mon_panier"
            android:label="@string/title_activity_mon_panier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Politique_securite"
            android:label="@string/title_activity_politique_securite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mon_historique"
            android:label="@string/title_activity_mon_historique"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mes_notifications"
            android:label="@string/title_activity_mes_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recherche"
            android:label="@string/title_activity_recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Connexion_inscription"
            android:label="@string/connection_inscription" />
        <activity
            android:name=".Resultat_recherche"
            android:label="@string/title_activity_resultat_recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Artiste"
            android:label="@string/title_activity_artiste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Concert"
            android:label="@string/title_activity_concert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achat_billet"
            android:label="@string/title_activity_achat_billet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Avis"
            android:label="@string/title_activity_avis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Paiement"
            android:label="@string/title_activity_paiement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gerer_artiste"
            android:label="@string/title_activity_gerer_artiste"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>